.horslesmurs {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 750px;
    position: relative;
    .container {
        padding: 50px 0;
        &.nopadtop {
            padding-top: 0;
        }
    }
    video {
        height: 650px;
        border: 3px solid silver;
    }
    img.small {
        width: 100%;
    }
    .back {
        position: absolute;
        left: 5%;
        top: 5%;
        padding: 5px 20px;
    }
}

@media screen and (max-width: 768px){
    img.small {
        width: 100vw!important;
    }
    .horslesmurs .back{
        left: 10%;
        top: 2%;
    }
    .horslesmurs .container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .horslesmurs .container:nth-of-type(1){
        height: 30vh;
        align-items: flex-start;
    }
    .horslesmurs .container:nth-of-type(2){
        height: 70vh;
    }
    .horslesmurs video{
        height: 46vh;
    }
}

