canvas {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 0;
    outline: none;
    z-index: 1;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

div#scene-explorer-host {
    position: absolute !important;
    left: -17%;
}

div#inspector-host {
    position: absolute !important;
    right: -17%;
}

.crosshair {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 5px;
    opacity: 0.7;
    z-index: 2;
}
