.subtitle {
    display: none;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 3;
    background: rgba($color: #000000, $alpha: 0.7);
    padding: 10px 130px;
    min-width: 60%;
    cursor: pointer;

    &.show {
        display: block;
    }
    p {
        text-align: center;
        display: none;
        font-size: 2rem;
        color: #f9d586;
        line-height: 2.8rem;
        &.show {
            display: block;
        }
    }
    a {
        color: #f9d586;
    }
    .window {
        box-shadow: none;
        background: none;
        padding: 0;
    }
}

@media screen and (max-width: 450px) {
    .subtitle {
        padding: 10px 50px;
    }
}
