.ig{
    padding: 5vw;
    cursor: none;

    .window{
        h2, p, a{
            -webkit-font-smoothing: auto;
            cursor: none;
        }
        p,a{
            font-size: 12px;
        }
        strong{
            color: purple;   
        }
    }

    .ig__window{
        position: absolute;
        z-index: 1;
        pointer-events: none;

        iframe{
            opacity: 0.95;
        }
    }

    @media screen and (min-width: 451px) {
        .ig__window{
            top: 0;
            left: 0;

            iframe{
                width: 500px;
                height: 400px;
            }
        }
    }

    @media screen and (max-width: 450px) {
        .ig__window{
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            iframe{
                width: 80vw;
                height: 40vh;
            }
        }
    }
}

.ig__canvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}


// Tweakpane
.tp-dfwv {
    z-index: 10;
}