@import 'utilities';

$mainColor: #f9d586;
$secondaryColor: #f9e9c5;
$orange: #322b1b;
$speed: 1000ms;

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    background: #000;

    &.orange {
        background: $orange;
        transition: all $speed ease-in-out;
    }
}

html {
    font-size: 10px;
}

#app,
#root {
    height: 100%;
    display: flex;
    justify-content: center;
}

.hide {
    display: none !important;
}

@media screen and (max-width: 450px) {
    #root {
        height: 100vh;
        overflow: hidden;
    }
    #root.about-open {
        height: 100%;
    }
}
