@import 'utilities';

//variables not used, just here as reference
$mainColor: #f9d586;
$secondaryColor: #f9e9c5;

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #000;
    overflow-x: hidden;
}

html {
    font-size: 10px;
}

#app,
#root {
    height: 100%;
    display: flex;
    justify-content: center;
}

.hide {
    display: none !important;
}

@media screen and (max-width: 450px) {
    #root {
        height: 100vh;
        overflow: hidden;
    }
    #root.about-open {
        height: 100%;
    }
}
